<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Nº</th>
            <th>Producto</th>
            <th>Descripcion</th>
            <th>Color</th>
            <th>Talla</th>
            <th>Cantidad</th>
            <th>Importe</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let producto of listaProductos;index as i;">
            <td>{{i +1}}</td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.descripcion}}</td>
            <td>{{producto.color}}</td>
            <td>{{producto.talla}}</td>
            <td>
                <input type="number" style="width: 15%;" value="{{producto.cantidad}}">
                </td>
            <td>{{producto.precio}} €</td>
        </tr>                   
    </tbody>
</table>